
<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header') %>
<body>
  <div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <%- include('partials/sidebar') %>
        </div>
        <div class="col-sm-10">
            <h1><%= title %></h1>

            <form method="POST">
              <div class="form-group">
                <label for="first_name">First Name:</label>
                <input id="first_name" class="form-control" type="text" placeholder="First name (Christian)" name="first_name" required value="<%= typeof author !== 'undefined' ? author.first_name : '' %>">
                <label for="family_name">Family Name:</label>
                <input id="family_name" class="form-control" type="text" placeholder="Family name (Surname)" name="family_name" required value="<%= typeof author !== 'undefined' ? author.family_name : '' %>">
              </div>allBooks
              <div class="form-group">
                <label for="date_of_birth">Date of birth:</label>
                <input id="date_of_birth" class="form-control" type="date" name="date_of_birth" value="<%= author && author.date_of_birth ? author.date_of_birth.toISOString().split('T')[0] : '' %>">

                <label for="date_of_death"> Date of death: </label>
                <input id="date_of_death" class="form-control" type="date" name="date_of_death" value="<%= author && author.date_of_death ? author.date_of_death.toISOString().split('T')[0] : '' %>">

              </div>
              <button class="btn btn-primary" type="submit">Submit</button>
            </form>
            
            <% if (errors && errors.length > 0) { %>
              <ul>
                <% errors.forEach(error => { %>
                  <li><%= error.msg %></li>
                <% }); %>
              </ul>
            <% } %>
            
    
        </div>
    </div>
</div>
</body>
</html>

